<!-- <h1 class="title">Rapid API Practice</h1> -->
<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    (click)="sidenav.toggle()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Rapid API Practice</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container class="app-container">
  <!-- <mat-sidenav mode="side" opened> Numbers </mat-sidenav> -->
  <mat-sidenav
    #sidenav
    [class.mat-elevation-z4]="true"
    mode="over"
    class="app-sidenav"
  >
    <mat-nav-list>
      <mat-list-item routerLink="numbers" routerLinkActive="active"
        ><a class="a-links"><i class="bi bi-123"></i>Numbers</a></mat-list-item
      >
      <mat-list-item routerLink="weather" routerLinkActive="active"
        ><a class="a-links"
          ><i class="bi bi-cloud-sun-fill"></i>WeatherAPI</a
        ></mat-list-item
      >
      <mat-list-item routerLink="imdb" routerLinkActive="active"
        ><a class="a-links"><i class="bi bi-film"></i>IMDb</a></mat-list-item
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content><router-outlet></router-outlet></mat-sidenav-content>
</mat-sidenav-container>
